.con {
    display: flex;
    align-items: flex-start;
    padding-left: 5%;
}

.RecipeCookingMethod-module--cooking-methods--ZwqZ_ .RecipeCookingMethod-module--cooking-methods__group-item-counter--3-ubf {
    color: rgb(255 255 255);
}

.RecipeCookingMethod-module--cooking-methods--ZwqZ_ .RecipeCookingMethod-module--cooking-methods__group-item-counter--3-ubf {
    display: block;
    font: 500 2.4rem/1.2 Rubik, sans-serif;
    color: #ffffff;
    counter-increment: dl;
    content: counter(dl);
    margin-bottom: 15px;
}

*,
:after,
:before {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: border-box;
}

div {
    display: block;
}


.RecipeCookingMethod-module--cooking-methods--ZwqZ_ .RecipeCookingMethod-module--cooking-methods__group-title--1eiwU {
    font-weight: 700;
    margin-bottom: 5%;
    margin-top: 5%;
    line-height: 1;
}

.RecipeCookingMethod-module--cooking-methods__group-title--1eiwU {
    color: rgb(0, 0, 0);
}

.RecipeCookingMethod-module--cooking-methods__group-title--1eiwU {
    font-size: 1.8rem;
    color: #000000;
}

*,
:after,
:before {
    box-sizing: border-box;
}

user agent stylesheet dt {
    display: block;
}

.RecipeCopyIngredients-module--recipe-copy-ingredients--3sQdX {
    position: relative;
}

*,
:after,
:before {
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}


.pre {
    color: white;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}